@page "/Buscar"
@using VagasFast.Data 
@inherits BuscarBase
@{
}


<h1>Map</h1>

<div id="mapa" style="position:relative; width: 100%; height: 70vh;"></div>

<br />
<div>Solicitar vaga:</div>


@code
{




}